.blockscontainer {
  width: 80%;
  margin: auto;
  .blockstext {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    padding: 20px 0;
    margin-left: 9px;
  }
}

.root {
  width: 100%;
}
.container {
  height: 440px;
}
